.navbar{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
   
}

.button{
    
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.link{
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.switch {
    position: relative;
    top:4px;
    left: 4px;
    display: inline-block;
    width: 38px;
    height: 24px;
  }
  .switch input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #463444;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #463444;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .setting{
    width: 24px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    cursor: pointer;
  }
  .settingDiv{
    background-color: rgba(231, 228, 228, 0.986);
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 90px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 15px;
    align-items: center;
    justify-content:space-evenly;
    border: 2px black solid;
    transition: all 0.5s ease-out;
    transform: translateX(-50px);
    opacity: 0;
  }
  .settingDivActive{
    background-color: rgba(231, 228, 228, 0.986);
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 90px;
    border-radius: 10px;
    position: absolute;
    right: 70px;
    top: 15px;
    align-items: center;
    justify-content:space-evenly;
    border: 2px black solid;
    transition: all 0.5s ease-out;
    transform: translateX(0px);
    opacity: 1;
  }

  .settings{
    width: 25px;
    cursor: pointer;
  }

  .settingButtonOne{
border: none;
height: 40px;
width: 55px;
border-top-left-radius:7px;
border-bottom-left-radius:7px;
  }
  .settingButtonTwo{
    border: none;
    height: 40px;
    width: 55px;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
      }
  .settingButtonOne:hover{
    border-right: 1px black solid;
    background-color: rgb(235, 199, 0);
    
  }
  .settingButtonTwo:hover{
    border-left: 1px black solid;
    background-color: rgb(235, 199, 0);
    
  }