.contacts {
  width: 350px;
  height: 650px;
  border-radius: 30px;
  margin-right: 5px;
  background-color: rgb(19, 18, 18);
  position: relative;
  box-shadow: 1px 1px 20px 3px rgb(255, 255, 255);
  opacity: 1;
  transition: all 0.9s ease-out;
  transform: translateX(0px);
}
.hidden {
  opacity: 0;
  transition: all 0.9s ease-out;
  transform: translateX(-500px);
  width: 350px;
  height: 650px;
  border-radius: 30px;
  margin-right: 5px;
  background-color: rgb(19, 18, 18);
  position: relative;
  box-shadow: 1px 1px 20px 3px rgb(255, 255, 255);
}
.foto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-62px);
  top: 15px;
  box-shadow: 1px 2px 20px 0px rgba(252, 252, 252, 0.76);
  margin-bottom: 25px;
  object-fit: cover;
}
.text_h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.text_h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  background: #5e5a5a;
  background: -webkit-linear-gradient(top, #5e5a5a, #4a3a59);
  background: -moz-linear-gradient(top, #5e5a5a, #4a3a59);
  background: linear-gradient(to bottom, #5e5a5a, #4a3a59);
  display: flex;
  justify-content: center;
}
.text_h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  margin-top: 15px;
  color: rgba(230, 225, 225, 0.884);
}
.download {
  width: 20px;
  margin-right: 5px;
  margin-top: 10px;
  position: relative;
  top: 3px;
}
.git {
  width: 28px;
  margin-right: 5px;
  position: relative;
  top: 8px;
  margin-top: 10px;
}
.point {
  position: relative;
  top: 8px;
  margin-right: 5px;
  margin-top: 10px;
}
.textH3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
  color: rgba(230, 225, 225, 0.884);
}

.section {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  border: 1px black solid;
  width: 200px;
  box-shadow: 2px 1px 10px #5e5a5a;
}
.name {
  height: 20px;
  margin: 0;
  height: 47px;
  font-size: 36px;
  color: rgba(230, 225, 225, 0.884);
}
.secondName {
  height: 47px;
  margin: 0 auto;
  font-size: 32px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(230, 225, 225, 0.884);
}
.phrase {
  height: 40px;
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  color: rgba(230, 225, 225, 0.884);
}
.arrows {
  width: 20px;
  display: flex;
  margin: 5px auto;
  cursor: pointer;
}
.blink {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
  50% {
    color: rgb(34, 34, 34);
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}
@keyframes blink {
  50% {
    color: rgb(34, 34, 34);
  }
  51% {
    color: rgba(34, 34, 34, 0);
  }
  100% {
    color: rgba(34, 34, 34, 0);
  }
}
.resume {
  text-decoration: none;
  color: rgba(230, 225, 225, 0.884);
}

@media screen and (max-width: 1200px) {
  .contacts {
    width: 350px;
    height: 650px;
    border-radius: 30px;
    margin-right: 5px;
    position: relative;
    box-shadow: 1px 1px 20px 3px rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.9s ease-out;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    top: 80px;
    left: 0%;
    z-index: 2;
    width: 310px;
    box-shadow: inset 0px 0px 0px 0px rgb(255, 255, 255);
    height: 550px;
    border-radius: 30px;
    transform: translateX(0px);
  }
  .hidden {
    opacity: 0;
    transition: all 0.9s ease-out;
    transform: translateX(0px);
    height: 550px;
  }

  .text_h3 {
    margin-top: 15px;
  }
  .download {
    margin-top: 5px;
  }
  .git {
    margin-top: 0px;
  }
  .point {
    margin-top: 0px;
  }
}

@media screen and (max-width: 425px) {
  .contacts {
    width: 260px;
  }
}
@media screen and (max-width: 320px) {
  .contacts {
    width: 220px;
  }
}
